# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/
x64/

# Rider
.idea/

# Build files
*.tlog
*.pdb
*.idb
*.ipdb
*.iobj
*.log
*.vsidx
*.recipe
*.res

# Other
*.opendb